body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color:#C78C19;
	text-decoration:underline;
}

#banner {
	width: 100%;
}

.principal {
	padding: 30px;
	clear: left;
	margin-left: 15%;
	margin-right: 15%;
}

.principal p {
	margin: 0 0 1em;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}


.gradiente {
	background: linear-gradient(#FEFEFE, #888888);
}

.titulo-centralizado {
	text-align: center;
	margin: 0 0 1em;
	font-size: 2em;
	clear: left;
	color: rgba(0,0,0,0.3);
}

.bold {
	font-weight: bold;
}


#missao {
	font-style: italic;
}

.mapa {
	margin-left: 5%;
	margin-right: 5%;
	padding: 3em 10em;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.itens {
	display:inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 5%;
	margin-left: 20%;
	line-height: 1.5em;
}

.itens li:before {
    content: '🟊';
    margin: 0 1em;    
}


.imagembeneficios {
	width: 30%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 3px 3px 3px #000000;
}

.imagembeneficios:hover {
	opacity: 0.3;
}

.video {
	margin-top: 20px;
	margin-left: 30%;
	width: 560px;
}

footer {
	text-align: center;
	background: url("img/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px;
	
}